
<div class="row justify-content-center">
  <div class="col-md-4">
    <p>Transaction successfull</p>
    <p><strong>Current_account_balance --- </strong><%= current_user.account.balance%></p>
  </div>

</div>
